main{
    display: flex;
}
body{
    margin-left: 10%;
    margin-right: 10%;
}
h2{
    text-align: center;
}
div{
    width: 200px;
    height: 300px;
    overflow-y: scroll;
    border: 2px solid;
    text-align: center;
}
section{
    text-align: center;
}
table{
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}
th{
    border: none;
    padding: 10px 5px;
}
td {
    border: 1px solid;
    padding: 12px 5px;
}
tr:nth-child(even) {
    background-color: rgb(221, 239, 221);
}
.available-courses-table{
    margin-right: 20%;
}

.selected {
    background-color: deepskyblue;
}