main{
    display: flex;
}
h2{
    text-align: center;
}
div{
    height: 300px;
    width: 200px;
    overflow-y: scroll;
    border: 2px solid;
    text-align: center;
}
section{
    text-align: center;
}
table{
    width: 100%;
    border-collapse: collapse;
}
td{
    text-align: center;
    border: 1px solid;
    padding: 10px 15px;
}
tr:nth-child(odd) {
    background-color: rgb(221, 239, 221);
}
.available-courses-table{
    margin-left: 10%;
    margin-right: 20%;
}
.selected-courses-table{
    margin-right: 10%;
}
.selected {
    background-color: lightskyblue;
}